body {
  font-family: 'Roboto Mono', monospace;
  background-color: #484d60;
  color: #a8a8a8;
  font-size: 13px; }

#content {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px; }
  @media only screen and (max-width: 825px) and (orientation: portrait) {
    #content {
      display: block; } }

#tableHeader {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex; }
  #tableHeader div {
    margin: auto; }
  #tableHeader button {
    background-color: #cccccc;
    border-width: 0;
    padding: 2px;
    color: #707070; }
  #tableHeader #unpopular {
    cursor: pointer; }

#scatterHeader {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 40px;
  width: 80%;
  height: 100px;
  color: #a8a8a8;
  display: flex; }
  #scatterHeader div {
    margin: auto 0; }
  #scatterHeader h2 {
    font-weight: 400;
    font-size: 16px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; }

#typeFilter {
  position: absolute;
  bottom: 10px;
  right: 100px;
  z-index: 1000; }
  @media (max-width: 900px) and (orientation: landscape) {
    #typeFilter {
      position: relative;
      grid-row: 3/4;
      grid-column: 2/3;
      text-align: right; } }
  @media (max-width: 800px) and (orientation: portrait) {
    #typeFilter {
      position: relative;
      text-align: right;
      right: 10px; } }
  #typeFilter input[type="radio"] {
    margin-left: 30px;
    color: #a8a8a8;
    font-size: 11px; }

#scatter {
  position: relative;
  grid-row: 2/3;
  grid-column: 2/3;
  height: 80vh; }
  @media only screen and (max-width: 825px) and (orientation: portrait) {
    #scatter {
      height: 50vh; } }

.bubble {
  opacity: 0.8;
  fill: #484d60;
  outline: none; }

#table {
  grid-row: 2/3;
  grid-column: 1/2;
  max-height: 65vh;
  overflow-y: auto;
  direction: rtl; }
  @media only screen and (max-width: 825px) and (orientation: portrait) {
    #table {
      width: auto;
      margin-top: 30px;
      margin-left: calc(0.1 * 80vw);
      margin-right: calc(0.1 * 100vw);
      direction: ltr; } }
  #table table {
    direction: rtl; }
  #table td {
    padding-bottom: 20px;
    font-size: 13px;
    color: #a8a8a8;
    cursor: pointer; }

#unpopular-services table {
  width: 50%;
  margin: 50px auto;
  padding: 50px; }
#unpopular-services td {
  padding-bottom: 20px;
  font-size: 13px;
  color: #a8a8a8;
  cursor: pointer; }
#unpopular-services td:nth-child(1) {
  padding-right: 30px; }
#unpopular-services td:nth-child(2) {
  text-align: center;
  width: 20%; }

#legend {
  display: flex;
  fill: #484d60; }

g.tick text {
  fill: #cccccc; }

g.tick line {
  fill: #cccccc;
  stroke: #cccccc; }

g.tick path {
  fill: #cccccc;
  stroke: #cccccc; }

.legend {
  fill: #cccccc;
  font-size: 12px; }

path.domain {
  opacity: 0; }

#zoom {
  cursor: hand; }

.wrappedText {
  margin-bottom: 10px; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  background-color: #484d60;
  margin: auto;
  padding: 20px;
  width: 60%; }

/* The Close Button */
.close {
  position: sticky;
  top: 0;
  right: 10px;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
